@media only screen and (max-width: 600px) {
    th, td {
        padding: 8px 5px !important;
        font-size: 15px;
    }
  }
main {
    height: 100%;
}
.topText {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 45px;
}
.table table {
    color: white;
    font-size: 25px;
}
.table {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.table table tr:not(:first-child):hover {
    background-color: rgb(65, 199, 219);
    transition: 0.1s ease-in;
}
th, td {
    padding: 8px 35px;
}
select {
    font-size: 28px;
    color: white;
    background-color: rgb(33, 33, 33);
    padding: 8px 18px;
    border: none;
}

