@media only screen and (max-width: 900px) {
  div.headerRight {
    display: none;
  }
  div.headerLeft h1 {
    font-size: 25px;
  }
  div.menuBtnWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(83, 83, 83, 0.8);
    width: 100%;
    z-index: 50;
  }
  div.menu button {
    float: right;
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 17px;
    margin-right: 15px;
  }
  div.mainNew {
    width: 90%;
  }
  div.mainConcerts h2 {
    font-size: 30px;
  }
  div.list {
    -webkit-column-gap: 25px;
            column-gap: 25px;
    width: 100%;
  }
  ul {
    padding-left: 0 !important;
  }
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  background-color: black;
}

.black {
  display: none;
  position: fixed;
  z-index: 40;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.9;
}

.menu {
  display: none;
}

.menu button i {
  float: right;
  font-size: 50px;
}

.menuItem {
  padding: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuItem a {
  color: white;
  font-size: 30px;
}

.menuItem:hover {
  background-color: rgba(83, 83, 83, 0.9);
}

.menuItem a:hover {
  color: white;
}

.full {
  width: 100% !important;
}

.imgWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  background-color: black;
  height: 75px;
}

.menuBtnWrapper {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menuBtn {
  margin-top: 17px;
  margin-right: 15px;
  border: none;
  background: none;
  cursor: pointer;
}

.headerLeft a {
  float: left;
  margin-left: 2%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7px;
          column-gap: 7px;
  text-decoration: none;
}

.headerLeft h1 {
  color: white;
}

.headerLeft a:hover {
  text-decoration: none;
}

.headerRight {
  float: right;
  margin-right: 10%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
          column-gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerRight a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.headerRight a:hover {
  color: lightgray;
}

.carousel-inner {
  max-height: 500px;
}

main {
  background-color: black;
  padding-bottom: 40px;
}

.mainNews {
  width: 100%;
}

.mainNews h2, .mainConcerts h2 {
  margin-top: 65px;
  text-align: center;
  color: white;
  font-size: 40px;
}

.mainNew {
  width: 50%;
  margin: 0 auto;
  color: white;
}

.mainNews a, .mainConcerts a {
  text-decoration: none;
  color: white;
  background-color: #66666666;
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 40px;
}

.mainNews a:hover, .mainConcerts a:hover {
  color: grey;
  text-decoration: none;
}

.buttonCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}

.list {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  margin-top: 70px;
}

.left-list ul li, .right-list ul li {
  list-style: none;
  color: white;
  font-size: 25px;
  text-align: center;
}

.left-list ul h3, .right-list ul h3 {
  color: white;
  text-align: center;
  font-size: 35px;
}

footer div {
  background-color: #515151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 8px;
  padding-bottom: 5px;
}

div.footerContacs ul {
  padding-left: 0;
  color: white;
}

div.footerContacs ul li {
  list-style: none;
  color: white !important;
}

div.footerContacs ul li a {
  text-decoration: none;
  color: white;
}

.footerContacts ul li {
  list-style: none;
  color: white;
}

.footerContacts ul li a {
  text-decoration: none;
  color: white;
}

div.foooterSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.foooterSocial a {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.fa {
  color: white;
  font-size: 30px !important;
  margin: 0 5px;
}

.fa-contacts {
  font-size: 18px !important;
}

.footerNavigation {
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footerNavigation h4 {
  color: white;
  font-size: 20px;
  width: 100%;
  margin: 0;
}

.navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 3px;
  width: 100%;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.navItems a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.navItems a:hover {
  text-decoration: none;
  color: lightgray;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  div.membersList {
    width: 95%;
  }
  div.textWrapper p {
    color: white;
    width: 80%;
    text-align: center;
  }
}

.topText {
  color: white;
  text-align: center;
  margin-top: 30px;
  font-size: 45px;
}

.textWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textWrapper p {
  color: white;
  width: 50%;
  text-align: center;
}

.membersList {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.member h4 {
  text-align: center;
  color: white;
}
/*# sourceMappingURL=aboutus.css.map */